<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>18/10/27 19:00:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:testcase.CreateLead@5383967b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/27 19:00:48</td>   <td>27</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase.CreateLead@5383967b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/27 19:00:48</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcase.CreateLead@5383967b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/27 19:00:48</td>   <td>-503</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.CreateLead@5383967b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/10/27 19:00:48</td>   <td>28</td> <td title="&lt;&lt;Report.endResult()[pri:0, instance:testcase.CreateLead@5383967b]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/27 19:00:48</td>   <td>-500</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:testcase.CreateLead@5383967b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/10/27 19:00:47</td>   <td>-683</td> <td title="&gt;&gt;Report.startResult()[pri:0, instance:testcase.CreateLead@5383967b]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
</table>
